.DS_Store
.zsh_history
.python_history
__pycache__
.aws/
.boto
.bridge/
.conda/
.config/
.datadog-agent/
.docker/
.gitconfig
.gk/
.lesshst
.minikube/
.ssh/
.terraform.d/
.vscode/
.zcompdump
.zprofile
.zshrc
.zshrc.backup
Applications/
Desktop/
Downloads/
Library/
Movies/
Music/
One Drive Files/
Pictures/
Public/
VideoLearning/
.zsh_sessions/
